
@{
    ViewBag.Title = "WorkingArea";
}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Welcome to the Working Area </h1>
            <a href="@Url.Action("ClientDetails","Customer")" class="btn btn-primary"> Manage Customer</a>
            <br />

            <a href="@Url.Action("ProductDetails","Product")" class="btn btn-primary"> Manage Product</a>
            <br />

            <a href="@Url.Action("RawDetails","RawMaterial")" class="btn btn-primary"> Manage Material</a>
            <br />

            <a href="@Url.Action("QueryDetails","Home")" class="btn btn-primary"> Manage Customer</a>
            <br />



        </div>

    </div>

</div>